.container-g {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    height: 440px;
}

.content input {
    width: 70%;
    height: 40px;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    margin-top: 40px;
}

.card {
    background-color: transparent;
    border: none;
}

.form-control {
    border-radius: 0px;
    box-shadow: 4px 4px 7px #ccc;
    height: 45px;
}

.card-header {
    background-color: transparent;
    border: none;
}