<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text">Escanea el codigo QR o Realiza tranferencia al numero de cuenta</h2>
            <div class="tranfernecia">
                <p>Numero de cuenta: 275-744391-03</p>
                <p>Ahorros BANCOLOMBIA</p>
            </div>
            <div class="qr">
                <img class="img-qr" src="assets/img/qr.jpeg" alt="">
            </div>
            <div class="btn-group">
                <button class="btn btn-primary form-control" (click)="trasferencia()">Trasferencia confirmada</button>
            </div>
        </div>
    </div>
</div>