<div class="container-pedido-mesa">
    <div class="all-1">
        <h3 class="text-center txt-category">Categorias</h3>
        <nav class="navbar navbar-expand-lg navbar-color">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 txt-white">
                        <li class="nav-item" *ngFor="let category of categorys; let i = index">
                            <a [ngClass]="{'nav-item-active': categorys?.[i].name === nombrePrimeraCategoria, 'active': categorys?.[i].name === nombrePrimeraCategoria}" class="nav-link " aria-current="page" (click)="getArticle(categorys?.[i]._id, i)">{{category.name}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="categorys" *ngIf="articlesNew?.length > 0">
            <div class="info" *ngFor="let article of articlesNew" (click)="dataArticle(article)">
                <p> {{ok}} {{article.name}}</p>
            </div>
        </div>
    </div>
    <div class="all-2">
        <h3 class="text-center txt-category">Pedido</h3>
        <form [formGroup]="formulario" (ngSubmit)="crearPedido(formulario.value)">
            <div class="info-mesa">
                <p>{{mesaData?.name}}</p>
                <p>Numero de clientes: {{mesaData?.numeroClientes}}</p>
                <div *ngIf="mesaData?.libre" class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nombre Cliente" aria-label="Nombre Cliente" aria-describedby="basic-addon1" formControlName="nameOrder">
                </div>
                <div *ngIf="!mesaData?.libre" class="input-group mb-3">
                    <input type="text" (change)="changeName($event)" class="form-control" placeholder="Nombre Cliente" aria-label="Nombre Cliente" aria-describedby="basic-addon1" [value]="mesaData?.orders?.nameOrder">
                </div>
            </div>
            <div class="info-mesa">
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of pedido2; let i = index">
                            <th scope="row">{{item.cantidad}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.price | currency: 'COP' }}</td>
                            <td class="text-center"><svg (click)="deletePedido(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                </svg></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text-center info-mesa" colspan="4">

                                <h2>Total: </h2>
                                <p *ngIf="mesaData?.libre">{{total | currency: '$'}}</p>
                                <p *ngIf="!mesaData?.libre && total === 0 && totalOders > 0">{{(totalOders | currency: '$')}}</p>
                                <p *ngIf="!mesaData?.libre && total > 0 && totalOders === 0 ">{{( total | currency: '$')}}</p>
                                <p *ngIf="!mesaData?.libre && total > 0 && totalOders > 0  ">{{( total + totalOders| currency: '$')}}
                                </p>

                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="info-mesa">
                <!-- <p>SubTotal: </p>
                <p>{{subTotal | currency: '$'}}</p> -->
                <!-- <div class="radios">
                    <div class="r1">
                        Incluir Servicio <input (change)="servicio($event)" type="checkbox" value="8" name="" id="">
                    </div>
                    <div class="r2">
                        Propina <input (change)="propina($event)" type="checkbox" value="10" name="" id="">
                    </div>
                </div> -->
                <p>Total: </p>
                <p *ngIf="mesaData?.libre">{{total | currency: '$'}}</p>

                <p *ngIf="!mesaData?.libre && total === 0 && totalOders > 0">{{(totalOders | currency: '$')}}</p>
                <p *ngIf="!mesaData?.libre && total > 0 && totalOders === 0 ">{{( total | currency: '$')}}</p>
                <p *ngIf="!mesaData?.libre && total > 0 && totalOders > 0  ">{{( total + totalOders| currency: '$')}}</p>
                <!-- <p *ngIf="!mesaData?.libre">{{total}}- {{totalOders}}</p> -->

            </div>
            <div *ngIf="mesaData?.libre" class="info-cajero">
                <select class="select-cajero" name="" id="" formControlName="cajero">
                    <option value="">Seleccione Cajero</option>
                    <option *ngFor="let cajero of cajeros" [value]="cajero.name">{{cajero.name}}</option>
                </select>
            </div>
            <div *ngIf="!mesaData?.libre" class="info-cajero">
                <select class="select-cajero" name="" id="" (change)="optenerCajero($event)">
                    <option [value]="cajeroActual">{{cajeroActual}}</option>
                    <option *ngFor="let cajero of cajeros" [value]="cajero.name">{{cajero.name}}</option>
                </select>
            </div>
            <div *ngIf="mesaData?.libre" class="info-mesa-4" [ngClass]="{'btn-disbled': subTotal === 0 }">
                <button class="btn-create" type="submit" [disabled]="subTotal === 0 || formulario.invalid"> Crear Pedido  </button>
            </div>
            <div *ngIf="!mesaData?.libre" class="info-mesa-4" [ngClass]="{'btn-disbled': subTotal === 0 }">
                <button class="btn-create" type="button" [disabled]="mesaData?.orders?.total === 0" (click)="updateOrder(mesaData.orders._id)"> Actualizar Pedido  </button>
            </div>
        </form>
    </div>
</div>