.container-g {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.card {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.botones {
    display: flex;
    gap: 1em;
    margin-top: 20px;
}

.form-control {
    border-radius: 0px;
    box-shadow: 4px 4px 7px #ccc;
    height: 45px;
}

.data-input {
    margin-bottom: 10px;
}

p {
    font-size: 17px;
}