<div class="container-perfil">
    <div class="card">
        <figure>
            <img *ngIf=" imagen === ''" src="assets/img/no-photo.png" class="card-img-top" alt="no image">
            <img *ngIf="imagen !== ''" [src]="imagen" class="card-img-top" alt="no image">
        </figure>
        <div class="card-body">
            <h5 class="card-title">Nombre:</h5>
            <p class="card-text">{{user?.name}} {{user?.firstname}}</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tipo cedula y Cedula:</h5>
            <p class="card-text">{{tipoCedula(user?.tipoCedula)}}: {{user?.cedula}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Correo: {{user?.email}}</li>
            <li class="list-group-item">Edad: {{user?.age}} </li>
            <li class="list-group-item">Celular: {{user?.cellphone}}</li>
            <li class="list-group-item">Rol: {{rol}}</li>
        </ul>
        <div class="card-body">
            <a class="card-link" (click)="pageUpdateUser(user._id)">Actualizar Información</a>
        </div>
    </div>
</div>