.container-menu {
    width: 100%;
    height: 100%
}

.categoria {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    line-height: 62px;
}

.categoria:hover {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    background-color: rgb(13, 164, 205);
}

.categoria p {
    font-size: 20px;
    color: black;
}

.importar {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    line-height: 62px;
}

.importar:hover {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    padding-left: 10px;
    margin-top: 50px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    background-color: rgb(13, 164, 205);
}

.categorias {
    margin-bottom: 30px;
}

.categorys {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: white;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.categorys:hover {
    background-color: rgba(32, 75, 245, 0.822)
}

.articles {
    cursor: pointer;
    padding: 10px;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    opacity: 0.8;
    background-color: #ccc;
}

.articles:hover {
    background-color: #ccc;
}

.articles-info {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 60%;
    height: 50px;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.articles-info:hover {
    background-color: #CFE4F4;
}

.articles-info p {
    font-size: 16px;
}

.b-article {
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .categoria,
    .articles,
    .categorys,
    .importar,
    .articles-info {
        width: 100%;
    }
    .container-menu {
        padding: 10px;
        height: 964px;
    }
}