<div class="newCategory" style="max-width: 40rem;">
    <h2 class="text-center">Nueva Categoria</h2>
    <br>
    <form [formGroup]="formulario" (ngSubmit)="createCategory(formulario.value)">
        <label for="name">Nombre Categoria</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" formControlName="name">
        </div>

        <label for="visibility">Visible para los clientes         <a title="Esta opción muestra o ocualta la categoria de la carta"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill icon-info" viewBox="0 0 16 16">
            <path  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg></a> </label>
        <div class="input-group mb-3">
            <select name="" formControlName="visibility" class="form-control" id="">
            <option value="">Visibles para los clientes</option>
            <option value="si">Si</option>
            <option value="no">No</option>
        </select>
        </div>
        <div class="input-group mb-3 ">
            <button type="submit" class="form-control button" [disabled]="formulario.invalid">Crear categoría</button>
        </div>
        <button class=" form-control btn btn-warning btn-sm" role="button" [routerLink]="['/pages/menu']">Regresar</button>
    </form>
</div>