<div class="container-pay">
    <div class="icon-close" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
    </div>
    <h2 class="text-center">Pagar</h2>
    <div class="section-info-order">
        <p>Fecha de la orden: <span>{{data.createdAt | date: 'YYYY-MM-dd'}}</span></p>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.articles_cantidad">
                    <th scope="row">{{item.cantidad}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price | currency: '$'}}</td>
                </tr>
            </tbody>
        </table>
        <p>Sub Total: <span>{{data.subTotal | currency: '$'}}</span></p>
        <div class="radios">
            <div class="r1">
                Impuesto al Consumo 8% ({{servicioVal}}) <input (change)="servicio($event, data.subTotal)" type="checkbox" value="8" name="" id="">
            </div>
            <div class="r2">
                Propina 10% ({{propinaVal}}) <input (change)="propina($event, data.subTotal)" type="checkbox" value="10" name="" id="">
            </div>
        </div>
        <p class="my-3">Total: <span>{{total | currency: '$'}}</span></p>
    </div>
    <div class="button">
        <button class="form-control btn btn-success" (click)="payOrder(data, total)">Pagar</button>
    </div>
</div>


<div class="contenido-resivo" onload="window.print()">
    <h2>Cafe Savalo</h2>
    <p>Fecha: {{data.createdAt| date: 'YYYY-MM-dd:HH:MM'}}</p>
    <p>Cajer@: {{data.cajero}}</p>
    <p>Metodo de pago: {{data.metodoPago}} </p>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data.articles_cantidad">
                <th scope="row">{{item.cantidad}}</th>
                <td>{{item.name}}</td>
                <td>{{item.price | currency: '$'}}</td>
            </tr>
        </tbody>
    </table>
    <p>sub Total: {{data.subTotal | currency: '$'}}</p>
    <p>Impuesto: {{servicioVal | currency: '$'}}</p>
    <p>Propina: {{propinaVal | currency: '$'}}</p>
    <p>Total: {{total | currency: '$'}}</p>
    <div class="boton">
        <button class="btn btn-primary form-control btn-print" onclick="window.print()">Imprimir recibo</button>
    </div>
</div>