<div class="container-pay">
    <h2 class="text-center">Pagar</h2>
    <div class="section-info-order">
        <p>Fecha de la orden: <span>{{data.createdAt | date: 'YYYY-MM-dd'}}</span></p>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.articles_cantidad">
                    <th scope="row">{{item.cantidad}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.price | currency: '$'}}</td>
                </tr>
            </tbody>
        </table>
        <p>Sub Total: <span>{{data.subTotal | currency: '$'}}</span></p>
        <div class="radios">
            <div class="r1">
                Impuesto al Consumo 8% ({{servicioVal}}) <input (change)="servicio($event, data.subTotal)" type="checkbox" value="8" name="" id="">
            </div>
            <div class="r2">
                Propina 10% ({{propinaVal}}) <input (change)="propina($event, data.subTotal)" type="checkbox" value="10" name="" id="">
            </div>
        </div>
        <p class="my-3">Total: <span>{{total | currency: '$'}}</span></p>
    </div>
    <div class="button">
        <button class="form-control btn btn-success" (click)="payOrder(data, total)">Pagar</button>
    </div>
</div>