.section-info-order p {
    font-size: 20px;
    font-weight: bold;
}

.section-info-order p span {
    font-size: 16px;
    font-weight: 400;
}

p,
h2,
.r1,
.r2 {
    color: #000;
}

.radios {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

table {
    overflow-x: scroll;
}


/*estilos resivo de pago*/

.contenido-resivo {
    display: none;
}

.contenido-resivo h2 {
    text-align: center;
}

.boton {
    display: flex;
    justify-content: center;
}