.container-register {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.section-register {
    width: 45%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 10px;
}

.section {
    display: flex;
    width: 47%;
    margin: 0 auto;
    gap: 1em;
    margin-top: 10px;
}

.alert-danger {
    width: 45%;
    margin: 0 auto;
}

.titulo-register {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.olvide-clave {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 15px;
}

.botones input {
    width: 250px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    gap: 1em;
}

.botones input:hover {
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

.olvide-clave a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.fail-input {
    border: 2px solid red;
    border-radius: 5px;
}

.not-available {
    cursor: not-allowed !important;
    z-index: 999 !important;
}

.not-available:hover {
    z-index: 999 !important;
    background-color: #fff !important;
    color: rgba(152, 130, 130, 0.3) !important;
    font-size: 18px !important;
}

.img-responsive {
    height: 75px;
    width: 130px;
}

.navbar-color {
    background-color: #000000;
}

.is-label {
    color: rgb(251, 0, 0);
}

.mensaje {
    display: flex;
    gap: 1em;
    width: 44%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container-register,
    form,
    .content {
        width: 100%;
        height: 100%;
    }
    .section-register {
        width: 100%;
        padding: 5px;
    }
    .botones {
        padding: 10px;
    }
    h2 {
        font-size: 30px;
    }
}