<div class="container">
    <div class="container2">
        <div class="info">
            <div class="row text-center m-3">
                <div class="col-md-12 ">
                    <b>Información de la orden</b>
                </div>
            </div>
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Mesa</th>
                        <th scope="col">Cajero</th>
                        <th scope="col">Medio de pago</th>
                        <th scope="col">Tiempo de preparación a entrega</th>
                        <th scope="col">Tiempo total del pedido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{order?.createdAt | date: 'medium'}}</td>
                        <td>{{order?.table?.name}}</td>
                        <td>{{order?.cajero}}</td>
                        <td>{{order?.metodoPago}}</td>
                        <td>{{order?.fechaEntrega}} minutos</td>
                        <td>{{order?.fechaPagado}} minutos</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="info">

            <div class="row text-center m-3">
                <div class="col-md-12 ">
                    <b>Articulos</b>
                </div>
            </div>
            <table class="table table-light table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Mesa</th>
                        <th scope="col">Cajero</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of order?.articles_cantidad">
                        <th scope="row">{{item.cantidad}}</th>
                        <td>{{item?.name}}</td>
                        <td>{{item?.price | currency: '$'}}</td>

                    </tr>
                </tbody>
            </table>
            <div class="row text-center">
                <div class="col-md-6">
                    <p>Total</p>
                </div>
                <div class="col-md-6">
                    <p>{{order?.total | currency: '$'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>