<app-carousel>
</app-carousel>

<div class="container-1 ">
    <div class="section-1 card">
        <img src="assets/img/s1.jpeg" alt="">
        <br>
        <p class="p1">Proceso del Café</p>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam quod ipsa vel maxime eum neque ducimus exercitationem, aliquid nesciunt est laudantium doloribus pariatur excepturi rerum, quaerat consequuntur tenetur numquam?</p>
        <div class="botones">
            <button>Mas Información</button>
        </div>
    </div>
    <div class="section-2 card">
        <img src="assets/img/s2.jpeg" alt="">
        <br>
        <p class="p1">Metodos Café</p>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam quod ipsa vel maxime eum neque ducimus exercitationem, aliquid nesciunt est laudantium doloribus pariatur excepturi rerum, quaerat consequuntur tenetur numquam?</p>
        <div class="botones">
            <button>Mas Información</button>
        </div>
    </div>
    <div class="section-2 card">
        <img src="assets/img/proceso.jpeg" alt="">
        <br>
        <p class="p1">Nuestro proceso</p>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam quod ipsa vel maxime eum neque ducimus exercitationem, aliquid nesciunt est laudantium doloribus pariatur excepturi rerum, quaerat consequuntur tenetur numquam?</p>
        <div class="botones">
            <button>Mas Información</button>
        </div>
    </div>
    <div class="section-2 card">
        <img src="assets/img/s2.jpeg" alt="">
        <br>
        <p class="p1">Nuestro origen</p>
        <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam quod ipsa vel maxime eum neque ducimus exercitationem, aliquid nesciunt est laudantium doloribus pariatur excepturi rerum, quaerat consequuntur tenetur numquam?</p>
        <div class="botones">
            <button>Mas Información</button>
        </div>
    </div>
</div>