.container {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .container-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        gap: 2em;
        padding: 20px;
    }
}