.container {
    margin-top: 20px;
    padding-bottom: 20px;
}

.card {
    padding: 10px;
    box-shadow: 4px 4px 7px #ccc;
}

.card p {
    font-size: 20px;
    font-weight: bold;
}

.card p span {
    font-size: 16px;
    font-weight: 400;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 360px;
}

figure {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1em;
}

.btn-create-person {
    height: 60px;
}

.div-create {
    margin-bottom: 8px;
    box-shadow: 4px 4px 7px #ccc;
}