.container {
    padding-bottom: 20px;
}

.div-create .card {
    padding: 10px;
    border-radius: 0px;
    box-shadow: 4px 4px 7px #ccc;
}

.card {
    padding: 10px;
    box-shadow: 4px 4px 7px #ccc;
}

.div-create .card:hover {
    outline: none;
    background-color: rgb(13, 164, 205);
}

.card p {
    font-size: 20px;
    font-weight: bold;
}

.card p span {
    font-size: 16px;
    font-weight: 400;
}

.categoria {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 73%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    line-height: 62px;
}

.categoria:hover {
    border: 1px solid #ccc;
    width: 73%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    background-color: rgb(13, 164, 205);
}

.categoria p {
    font-size: 20px;
    color: black;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 360px;
}

figure {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1em;
}

.btn-create-person {
    height: 60px;
    outline: none;
    border: none;
}

@supports(object-fit: cover) {
    figure img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

// .div-create {
//     margin: 0 auto;
//     width: 80%;
//     margin-bottom: 20px;
//     box-shadow: 4px 4px 7px #ccc;
// }