<div class="container-pedido">
    <div class="categoria" (click)="addCategory()">
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg> Añadir nuevo pedido</p>
    </div>

    <div class="lista-pedidos">
        <h1 class="text-center">Pedidos</h1>
        <div class="row" *ngIf="orders?.length > 0">
            <div class="col-md-3" *ngFor="let order of orders; let i = index">
                <div class="card" *ngIf="order.preparationState !== 'pagado'">
                    <p class="pedido" *ngIf="order.preparationState !== 'pagado'">Pedido numero {{i+ 1}} / {{order.table.name}}
                        <li class="sub-menu-state">
                            <svg class="nav-link dropdown-toggler bi bi-three-dots-vertical tres-p" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                  </svg>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item pointer" (click)="editOrder(order)">Editar Pedido</a></li>
                                <li><a class="dropdown-item pointer" (click)="changeState(order)">Cambiar estado</a></li>
                            </ul>
                        </li>
                    </p>
                    <p class="pedido" *ngIf="order.preparationState === 'pagado'">Pedido Gestionado <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots-vertical tres-p" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg></p>
                    <p class="p-generic">Cliente: <span>{{order.nameOrder}}</span></p>
                    <p class="p-generic">Fecha: <span>{{order.createdAt | date :('YYYY-MM-dd')}}</span></p>
                    <p class="p-generic">Hace al rededor de <span>{{tiempoTrascurrido(order.createdAt)}}</span></p>
                    <p *ngIf="order.preparationState === 'preparacion'" class="p-generic">Estado: <span class="state">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'entregado'" class="p-generic">Estado: <span class="state-e">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'reclamo'" class="p-generic">Estado: <span class="state-a">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'pagado'" class="p-generic">Estado: <span class="state-p">{{order.preparationState}}</span></p>
                    <p class="p-generic">Pedido:</p>
                    <p class="p-generic proudcts" *ngFor="let article of order.articles"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg> <span>{{article.name}}</span></p>
                    <p class="p-generic">Total: <span>{{order.total | currency: '$'}}</span></p>
                    <button class="pagar" *ngIf="order.preparationState !== 'pagado' " (click)="pay(order)">Pagar</button>
                    <button class="pagar" *ngIf="order.preparationState === 'pagado' ">Pagado</button>
                </div>
            </div>
        </div>
        <div class="row no-pedidos" *ngIf="ordersNoPay === 0">
            <img src="assets/img/undraw_diet_ghvw.svg" alt="">
            <h2 class="text-center">
                No hay pedidos en preparación
            </h2>
        </div>
        <div class="row no-pedidos" *ngIf="orders?.length === 0">
            <img src="assets/img/undraw_order_delivered_re_v4ab.svg" alt="">
            <h1 class="text-center">No hay pedidos</h1>
        </div>
        <app-loader [isLoader]="loading"></app-loader>
    </div>
</div>