<div class="container-pedido">
    <div class="categoria" (click)="addCategory()">
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg> Añadir nuevo pedido</p>
    </div>

    <div class="lista-pedidos">
        <h1 class="text-center">Pedidos</h1>
        <div class="row" *ngIf="orders?.length > 0">
            <div class="col-md-3" *ngFor="let order of orders; let i = index">
                <div class="card" *ngIf="order.preparationState !== 'pagado' && !order.pedidoCancelado   ">
                    <div class="marco-azul pedido">
                        <p *ngIf="order.preparationState !== 'pagado' && !order.pedidoCancelado ">Pedido numero {{i+ 1}} / {{order.table.name}}</p>
                        <li class="sub-menu-state">
                            <svg class="nav-link dropdown-toggler bi bi-three-dots-vertical tres-p" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                      </svg>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item pointer" (click)="editOrder(order)">Editar Pedido</a></li>
                                <li><a class="dropdown-item pointer" (click)="changeState(order)">Cambiar estado</a></li>
                            </ul>
                        </li>
                    </div>

                    <p class="pedido" *ngIf="order.preparationState === 'pagado'">Pedido Gestionado <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-three-dots-vertical tres-p" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg></p>
                    <div class="firts-info">
                        <p class="p-generic">Cliente: <span>{{(order.nameOrder)? order.nameOrder : 'Nn'}}</span></p>
                        <p class="p-generic">Cajero: <span>{{order.cajero}}</span></p>
                    </div>
                    <div class="secound-info">
                        <p class="p-generic">Fecha: <span>{{order.createdAt | date :('YYYY-MM-dd')}}</span></p>
                        <p class="p-generic">Creado hace: <span>{{tiempoTrascurrido(order.createdAt)}}</span></p>
                    </div>
                    <p *ngIf="order.preparationState === 'preparacion'" class="p-generic">Estado: <span class="state">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'entregado'" class="p-generic">Estado: <span class="state-e">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'reclamo'" class="p-generic">Estado: <span class="state-a">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'cancelado'" class="p-generic">Estado: <span class="state-a">{{order.preparationState}}</span></p>
                    <p *ngIf="order.preparationState === 'pagado'" class="p-generic">Estado: <span class="state-p">{{order.preparationState}}</span></p>
                    <table class="table table-light table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let article of order.articles_cantidad">
                                <th scope="row">{{article.cantidad}}</th>
                                <td>{{article.name}}</td>
                                <td>{{article.price | currency: '$'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="p-generic">Total: <span>{{order.total | currency: '$'}}</span></p>
                    <button class="pagar" *ngIf="order.preparationState !== 'pagado' && order.preparationState !== 'pagado' && order.preparationState !== 'reclamo' && order.preparationState !== 'cancelado'" (click)="pay(order, modal)">Pagar</button>
                    <button class="pagar" *ngIf="order.preparationState === 'pagado' ">Pagado</button>
                    <button class="pagar" *ngIf="order.preparationState === 'reclamo' " (click)="reclamoPedido(order)">Reclamo</button>
                    <button class="pagar" *ngIf="order.preparationState === 'cancelado' " (click)="cancelarPedido(order)">Cancelar pedido</button>
                </div>
            </div>
        </div>
        <!-- <div class="row no-pedidos" *ngIf="ordersNoPay === 0">
            <img src="assets/img/undraw_diet_ghvw.svg" alt="">
            <h2 class="text-center">
                No hay pedidos en preparación
            </h2>
        </div> -->
        <div class="row no-pedidos" *ngIf="orders?.length === 0">
            <img src="assets/img/undraw_order_delivered_re_v4ab.svg" alt="">
            <h1 class="text-center">No hay pedidos</h1>
        </div>
        <app-loader [isLoader]="loading"></app-loader>
    </div>
</div>


<ng-template #modal>
    <div class="icon-close" (click)="close()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
    </div>
    <h2 class="txt-metodo-pago">Con que desea realizar el pago?</h2>
    <div class="metodos">
        <div class="qr" (click)="tranferencia()">
            <p>Trasferencia / QR</p>
        </div>
        <div class="efectivo" (click)="efectivo()">
            <p>Efectivo </p>
        </div>
    </div>
</ng-template>