::ng-deep .mat-dialog-container {
    background-color: #ffffff;
}

.container-pedido {
    background-color: #DCE1E3;
    height: auto;   
    padding-bottom: 70px;
    margin-bottom: 10px;
}

.categoria {
    border: 1px solid #ccc;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    line-height: 62px;
}

.categoria:hover {
    border: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
    box-shadow: 4px 4px 7px #ccc;
    color: black;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
    height: 70px;
    background-color: rgb(13, 164, 205);
}

.categoria p {
    font-size: 20px;
    color: black;
}

.txt-metodo-pago {
    color: black;
}

.lista-pedidos {
    width: 85%;
    margin: 0 auto;
    margin-top: 30px;
}

.lista-pedidos h1 {
    font-size: 25px;
    font-weight: bold;
}

.card {
    width: 100%;
    box-shadow: 4px 4px 7px #ccc;
    text-align: justify;
}

.proudcts {
    margin-left: 20px;
}

.card-preparacion {
    width: 100%;
}

.content-pedidos {
    display: flex;
    width: 95%;
    justify-content: space-around;
    height: auto;
    margin: 0 auto;
    gap: 1em;
}

.pedido {
    background-color: #0D6EFD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-menu-state {
    list-style: none;
}

.circulos {}

.pointer {
    cursor: pointer;
}

.tres-p {
    cursor: pointer;
}

.pagar {
    border: none;
    background-color: #0D6EFD;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
}

.p-generic {
    color: #000000;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

span {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.state {
    color: rgb(229, 184, 38);
    font-weight: bold;
}

.state-e {
    color: rgb(15, 226, 11);
    font-weight: bold;
}

.state-a {
    color: rgb(226, 11, 11);
    font-weight: bold;
}

.state-p {
    color: rgb(20, 79, 206);
    font-weight: bold;
}

.no-pedidos {
    height: 49vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-pedidos h2 {
    font-size: 30px;
    font-weight: bold;
}

.no-pedidos img {
    height: 150px;
    width: 300px;
}

.proudcts {
    display: flex;
    justify-content: space-between
}

.metodos {
    display: flex;
    justify-content: space-evenly;
}

.metodos .efectivo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    background-color: #52C81E;
    height: 90px;
    font-size: 17px;
    text-align: center;
    font-weight: normal;
    width: 130px;
    padding: 10px;
    border-radius: 8px;
    align-self: center;
}

.metodos .efectivo p {
    color: #fff;
    font-size: 17px;
}

.metodos {
    display: flex;
    justify-content: space-evenly;
}

.metodos .qr {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #1979D9;
    height: 90px;
    font-size: 17px;
    text-align: center;
    font-weight: normal;
    width: 130px;
    padding: 5px;
    border-radius: 8px;
}

.metodos .qr p {
    color: #fff;
    font-size: 15px;
}

.firts-info {
    display: flex;
    justify-content: space-between;
}

.secound-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.icon-close {
    display: flex;
    justify-content: flex-end;
}

.icon-close svg {
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .categoria {
        width: 100%;
    }
    .container-pedido {
        height: 1000px;
    }
}