<div class="container">
    <h2 class="text-center my-3">
        Mesas</h2>
    <div class="container-mesas" style="max-width: 50rem;">
        <div class="all">
            <div class="mesas1" *ngFor="let mesa of tables; let i = index">
                <p class="text-center">{{mesa.name}}</p>
                <p class="text-center" [ngClass]="{'mesa-libre': mesa.libre, 'mesa-ocupada': !mesa.libre}">{{(mesa.libre) ? 'Mesa libre': 'Mesa ocupada'}}</p>
                <img class="mesas-img" [src]="mesa.img" [alt]="mesa.name" (click)="mesaInfo(mesa)">
            </div>
            <div class="mesas1" *ngIf="tables?.length < 10">
                <button (click)="modalAddMesas()" class="form-control button-add-mesas"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                  </svg> Agregar mesas</button>
            </div>
        </div>
    </div>
</div>