.container {
    height: 72vh;
}

.mesas1 {
    margin: 10px;
}

.container-mesas {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 4px 4px 7px #ccc;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
}

.mesas-img {
    height: 100px;
    width: 150px;
    background-color: #CFE4F4;
    box-shadow: 4px 4px 7px #ccc;
    cursor: pointer;
}

.mesa-ocupada {
    color: red;
}

.mesa-libre {
    color: rgb(39, 213, 33);
}

.all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 4;
}

.button-add-mesas {
    height: 100px;
    background-color: #CFE4F4;
    margin-left: 10px;
}

h2 {
    font-size: 30px;
}

.no-table {
    height: 64.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}

.no-table h2 {
    font-size: 30px;
    font-weight: bold;
}

.no-table img {
    height: 150px;
    width: 300px;
}

.button-add-mesas2 {
    height: 50px;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .container-mesas {
        width: 100%;
        border: none;
    }
    .all {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    h2 {
        font-size: 30px;
    }
}