<app-navbar></app-navbar>
<div class="container">
    <h2 class="text-center">Ubicación</h2>
    <div class="card">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15880.096938968598!2d-75.3103489!3d5.7096371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6a07b4df6324e88!2sCaf%C3%A9%20Savalo!5e0!3m2!1ses-419!2sco!4v1654287766570!5m2!1ses-419!2sco" width="1115"
            height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>