h2 {
    font-size: 23px;
    font-weight: bold;
}

.container {
    margin-top: 10px;
}

iframe {
    height: 100vh;
}

@media screen and (max-width: 768px) {
    iframe {
        height: 500px;
    }
}